{% assign sorted_pages_map = site.html_pages| sort:"order" | group_by: 'skip_menu' %}
{% assign sorted_pages = sorted_pages_map.first.items %}

{% assign pages = sorted_pages | where_exp: 'page', 'page.url contains include.context' | group_by: 'dir' %}
<ul>
    {% for group in pages %}
        {% if group.name != include.context %}
            <li class="{% if page.url contains group.name %}current-menu-item{% endif %}">
                <a href="#">{{ group.name | replace: '/', '' | capitalize }}</a>
                {% include navigation.html context=group.name %}
            </li>
        {% else %}
            {% for item in group.items %}
                {% if item.url != '/404.html' %}
                    <li class="{% if page.url == item.url %}current-menu-item{% endif %}" >
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>